.DS_Store
__pycache__/
.ipynb_checkpoints/
checkpoints/
data/to_process/
data/processed/
data/easy_originals/
data/easy_preprocessed/
data/paddle_originals/
data/paddle_preprocessed/
data/tesseract_originals/
data/tesseract_preprocessed
zip/